body {
    text-align: center;
}

.keypad {
    margin: auto;
    position: relative;
    width: 505px;
    height: 182px;
}
.keypad__button {
    display: inline-block;
    cursor: pointer;
    background-origin: content-box;
    background-clip: content-box;
    background-size: contain;
    position: absolute;
}

.keypad__button--up {
    top: 0;
    left: 60px;
    width: 61px;
    height: 76px;
    background-image: url('../images/shadedDark03.png');
}
.keypad__button--right {
    top: 60px;
    left: calc(76px + 30px);
    width: 76px;
    height: 61px;
    background-image: url('../images/shadedDark06.png');
}
.keypad__button--down {
    top: calc(76px + 30px);
    left: 60px;
    width: 61px;
    height: 76px;
    background-image: url('../images/shadedDark10.png');
}
.keypad__button--left {
    top: 60px;
    left: 0;
    width: 76px;
    height: 61px;
    background-image: url('../images/shadedDark05.png');
}
.keypad__button--a {
    top:0;
    right: 0;
    width: 60px;
    height: 60px;
    background-image: url('../images/shadedDark36.png');
}