body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}
em {
    width: 505px;
    display: block;
    margin:  0 auto 20px;    
    line-height: 1.5;
    text-align: left;
}
em blockquote {
    display: inline-block;
    color: darkred;
    border-radius: 3px;
    border: 1px solid silver;
    background-color: ghostwhite;
    margin: 0;
    padding: 0 5px;
}

.keypad {
    margin: auto;
    position: relative;
    width: 505px;
    height: 182px;
}
.keypad__button {
    display: inline-block;
    cursor: pointer;
    background-origin: content-box;
    background-clip: content-box;
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
}

.keypad__button--up {
    top: 0;
    left: 76px;
    width: 61px;
    height: 76px;
    background-image: url('../images/keypad-up.png');
}
.keypad__button--right {
    top: 76px;
    left: calc(76px + 61px);
    width: 76px;
    height: 61px;
    background-image: url('../images/keypad-right.png');
}
.keypad__button--down {
    top: calc(76px + 61px);
    left: 76px;
    width: 61px;
    height: 76px;
    background-image: url('../images/keypad-down.png');
}
.keypad__button--left {
    top: 76px;
    left: 0;
    width: 76px;
    height: 61px;
    background-image: url('../images/keypad-left.png');
}
.keypad__button--a {
    top:0;
    right: 0;
    width: 60px;
    height: 60px;
    background-image: url('../images/keypad-a.png');
}

.theme-list {
list-style: none;
    padding: 10px;
    margin: 0;
    position: absolute;
    top: 50px;
    left: 50%;
    text-align: left;
    transform: translateX(calc(-252.5px - 100%));
}

.theme-list__item {
    padding: 5px 10px;
    cursor: pointer;
}